################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/testGUI
/testGUI/x64/Debug/testGUI.tlog
/testGUI/x64/Debug
